---
import Layout from "../layouts/Layout.astro";
import { getAllPosts } from "../lib/wordpress";

const posts = await getAllPosts();
---

<Layout title="Nicola Mustone" type="website">
  <h1>Nicola Mustone</h1>
  <p>Leader. Writer. Builder.</p>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`/${post.slug}`}>{post.title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
