---
interface NavLink {
  href: string;
  label: string;
  rel?: string;
  nofollow?: boolean;
  blank?: boolean;
}

interface Props {
  links?: NavLink[];
  location?: string;
}

const {
  links = [
    { href: "/", label: "Projects" },
    { href: "/about", label: "About" },
  ],
  location,
} = Astro.props;

const path = Astro.url.pathname;
---

<nav class="flex gap-6 font-mono md:items-end">
  {
    links.map((link) => (
      <a
        href={link.href}
        aria-current={path === link.href ? "page" : undefined}
        class={location && location === "footer" ? "text-faint" : undefined}
        target={link.blank ? "_blank" : undefined}
        rel={
          link.blank && link.nofollow
            ? "nofollow noopener noreferrer"
            : undefined
        }
      >
        {link.label}
      </a>
    ))
  }
</nav>
